@import './styles/library/include';

.App {
  text-align: center;
}


h1 {
  color: green;
}


.tabWrapper {

  $TAB_BORDER_COLOR: #ddd;
  $ACTIVE_TAB_COLOR: #378410;

  .tabs {

    @include flex(stretch, flex-start);
    @include padding-x(8px);
    border-bottom: 1px solid $TAB_BORDER_COLOR;
    box-sizing: border-box;

    %TAB_BUTTON_PLACEHOLDER {
      padding: 6px 12px 5px;
      overflow-y: visible;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border: solid 1px $TAB_BORDER_COLOR;
      border-bottom: none;
      position: relative;
    }
    %TAB_BUTTON_PLACEHOLDER_ACTIVE {
      color: #fff;
      background-color: $ACTIVE_TAB_COLOR;
      border-color: $ACTIVE_TAB_COLOR;
    }

    // This is interesting experiment
    // for radio input begin
    input[type=radio].tabBtn {
      display: none;
      appearance: none;
      margin: 0;
      
      & + label.tabBtn,
      & > label.tabBtn 
      { @extend %TAB_BUTTON_PLACEHOLDER; }
      &:checked + label.tabBtn,
      &:checked > label.tabBtn
      { @extend %TAB_BUTTON_PLACEHOLDER_ACTIVE; }
    }


    // for radio input end

    .tabBtn {
      @extend %TAB_BUTTON_PLACEHOLDER;

      &::after {
        content: '';
        @include position($bottom: -1px, $left: 0, $right: 0);
        height: 1px;
        background-color: #fff;
      }

      & + .tabBtn {
        margin-left: 6px;
      }

      &.active {
        @extend %TAB_BUTTON_PLACEHOLDER_ACTIVE;
        
        &::after {
          background-color: $ACTIVE_TAB_COLOR;
        }
      }
    }
  }

  .tabPanel {
    padding: 12px;
  }
}