@import './styles/library/include';

.App {
  text-align: center;
}


h1 {
  color: green;
}

.tabWrapper {

  .tabs {
    $ACTIVE_COLOR: #ddd;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    padding-left: 8px;
    border-bottom: 1px solid $ACTIVE_COLOR;
    box-sizing: border-box;

    // This is interesting experiment
    // for radio input begin
    // input[type=radio].tabBtn {
    //   appearance: none;
    //   margin: 0;
    // }

    // & > input[type=radio]:checked {
    //   color: red;
    // }
    // for radio input end

    .tabBtn {
      padding: 6px 12px 5px;
      overflow-y: visible;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border: solid 1px $ACTIVE_COLOR;
      border-bottom: none;
      position: relative;
      
      &::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0; right: 0;
        height: 1px;
        background-color: #fff;
      }

      & + .tabBtn {
        margin-left: 6px;
      }

      &.active {
        $ACTIVE_COLOR: #378410;

        color: #fff;
        background-color: $ACTIVE_COLOR;
        border-color: $ACTIVE_COLOR;
        
        &::after {
          background-color: $ACTIVE_COLOR;
        }
      }
    }
  }

  .tabPanel {
    padding: 12px;
  }
}